/* Aside */
.aside {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__item {
		margin-bottom: 4rem;
	}
	&__hello {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__date {
		font-size: 0.75rem;
	}
	&__form {
		width: 296px;
	}
	&__category,
	&__search,
	&__new,
	&__tags {
		width: 100%;
	}
}

@media (min-width: $tablet-width) {
	.aside {
		&__category,
		&__search,
		&__new,
		&__tags {
			width: 296px;
		}
	}
}

@media (min-width: $portait-width) {
	.aside {
		flex-basis: 27%;
		&__form {
			order: 0;
		}
		&__hello {
			order: 1;
		}
		&__category {
			order: 2;
		}
		&__search {
			order: 3;
		}
		&__new {
			order: 4;
		}
		&__tags {
			order: 5;
		}
	}
}