/* Aside */
.aside {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__item {
		margin-bottom: 60px;
	}
	&__date {
		@include font(var(--12px-size), 18px, var(--title), 0.05em, 400);
	}
	&__form {
		width: 296px;
	}
	&__category,
	&__search,
	&__new,
	&__tags {
		width: 100%;
	}
}

@media (min-width: $tablet-width) {
	.aside {
		&__category,
		&__search,
		&__new,
		&__tags {
			width: 296px;
		}
	}
}

@media (min-width: $portait-width) {
	.aside {
		flex-basis: 27%;
		&__form {
			order: 0;
		}
		&__hello {
			order: 1;
		}
		&__category {
			order: 2;
		}
		&__search {
			order: 3;
		}
		&__new {
			order: 4;
		}
		&__tags {
			order: 5;
		}
	}
}