/* Container */

.container {
	width: $container-mobile;
	margin: 0 auto;
}

@media (min-width: $tablet-width) {
	.container {
		width: $container-tablet;
	}
}

@media (min-width: $portait-width) {
	.container {
		width: $container-portait;
	}
}

@media (min-width: $desktop-width) {
	.container {
		width: $container-desktop;
	}
}