/* Container */

.container {
	width: $container-mobile;
	margin: 0 auto;
}

@media (min-width: $tablet-width) {
	.container {
		width: $container-tablet;
	}
}

@media (min-width: $portait-width) {
	.container {
		width: $container-portait;
		&_menu {
			width: 100%;
		}
	}
}

@media (min-width: $desktop-width) {
	.container {
		width: 1283px;
		&_main {
			display: grid;
			grid-template-columns: 2fr 1fr;
			grid-template-rows: min-content auto;
		}
		&_menu {
			width: 100%;
		}
	}
}