/* Container */

.container {
	width: $container-mobile;
	margin: 0 auto;
	&_menu {
		padding: 20px;
	}
	&_footer {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media (min-width: $tablet-width) {
	.container {
		width: $container-tablet;
	}
}

@media (min-width: $portait-width) {
	.container {
		width: $container-portait;
		&_main {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-between;
			width: 90%;
		}
		&_menu {
			width: 100%;
			padding: 0;
		}
	}
}

@media (min-width: $desktop-width) {
	.container {
		width: $container-desktop;
		&_menu {
			width: 100%;
		}
	}
}