/* Fonts */
@font-face: {
	font-family: Inter;
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/Inter-Regular.woff2') format('woff2');
}

@font-face: {
	font-family: 'Inter Light';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/Inter-Light.woff2') format('woff2');
}

@font-face: {
	font-family: 'Inter Semi Bold';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
}

@font-face: {
	font-family: 'Roboto Condenced';
	font-weight: 700;
	font-style: normal;
	src: url('../fonts/Robotocondensed.woff2') format('woff2');
}