.header {
	margin-bottom: var(--bottom-margin);
	&__wrap {
		display: flex;
		justify-content: center;
	}
	&__menu {
		border-top: 1px var(--title) solid;
		border-bottom: 1px var(--title) solid;
	}
	&__icon {
		width: 20px;
		height: 20px;
	}
	&__svg {
		transform-origin: center;
  		transform: rotate(-90deg);
  		transition-property: transform;
  		transition-duration: 1s;
	}
	&__svg_rotated {
		transform-origin: center;
		transform: rotate(90deg);
		transition-property: transform;
		transition-duration: 1s;
	}
}

@media (min-width: $portait-width) {
	.header {
		width: 100%;
		&__menu {
			display: none;
		}
	}
}