/* Hello */
.hello {
	display: flex;
	flex-direction: column;
}

@media (min-width: $tablet-width) {
	.hello {
		align-items: center;
		&__picture {
			order: 0;
		}
		&__text {
			order: 2;
			width: 80%;
		}
	}
}