/* Hello */
.hello {
	display: flex;
	flex-direction: column;
	&__text {
		font-size: 1rem;
		margin-bottom: 2.5em;
	}
	&__picture {
		margin: var(--link-margin) auto;
	}
}

@media (min-width: $tablet-width) {
	.hello {
		align-items: center;
		&__picture {
			order: 0;
		}
		&__text {
			order: 2;
			width: 80%;
		}
	}
}