/* Icon */
.icon {
	&_category {
		width: 24px;
		height: 24px;
	}
	&_dot {
		width: 5px;
		height: 5px;
	}
	&_recipe {
		width: 22px;
		height: 22px;
	}
	&_info {
		width: 24px;
		height: 24px;
	}
	&_recipe {
		width: 30px;
		height: 30px;
	}
}