/* Link */

.link {
	color: var(--text);
	@include font-text(var(--font-size), 400);
	text-decoration: none;
	&_nav {
		display: inline-block;
	}
	&_category {
		display: block;
		width: 100%;
	}
	&_general {
		border: 1px solid var(--borders);
		border-radius: 23px;
		padding: 10px 19px;
		margin-bottom: calc(var(--link-margin)*2);
	}
	&_recipe {
		border: 1px solid var(--borders);
		border-radius: 23px;
		display: inline-block;
		min-width: 230px;
	}
	&_search {
		display: block;
		margin-top: calc(var(--link-margin)/2);
		margin-bottom: calc(var(--link-margin)/2);
	}
	&_social {
		font-size: 0;
		line-height: 0;
		display: inline-block;
		width: 30px;
		height: 30px;
	}
}

@media (min-width: $tablet-width) {
	.link {
		&_general {
			order: 3;
		}
	}
}

@media (min-width: $portait-width) {
	.link {
		&_category {
			font-size: 14px;
		}
	}
}