/* Link */

.link {
	text-decoration: none;
	&_nav {
		display: inline-block;
	}
	&_category {
		display: block;
		width: 100%;
	}
	&_general {
		border: 1px solid var(--title);
		border-radius: 23px;
	}
	&_recipe {
		border: 1px solid var(--title);
		border-radius: 23px;
		display: inline-block;
		min-width: 230px;
	}
	&_search {
		display: block;
	}
	&_social {
		font-size: 0;
		line-height: 0;
		display: inline-block;
		width: 30px;
		height: 30px;
	}
}

@media (min-width: $tablet-width) {
	.link {
		&_general {
			order: 3;
		}
	}
}

@media (min-width: $portait-width) {
	.link {
		&_category {
			font-size: 14px;
		}
	}
}