.list {
	list-style-type: none;
	&_main {
		padding-top: 20px;
	}
	&__item_menu {
		display: flex;
		align-items: center;
		column-gap: 10px;
		margin-bottom: 20px;
	}
}

@media (min-width: $tablet-width) {
	.list {
		&_nav {
			display: flex;
			column-gap: 5%;
			border-bottom: 1px var(--title) solid;
		}
	}
}