/* List */

.list {
	list-style-type: none;
	&__item_category {
		display: flex;
		align-items: center;
		column-gap: 10px;
		margin-bottom: 20px;
		border-bottom: 1px solid var(--title);
	}
	&__item_search {
		border-bottom: 1px solid var(--border);
	}
	&__item_new {
		display: flex;
		column-gap: 25px;
		margin-bottom: 25px;
	}
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

@media (min-width: $tablet-width) {
	.list {
		&_nav {
			display: flex;
			column-gap: 5%;
			border-bottom: 1px var(--title) solid;
		}
	}
}

@media (min-width: $portait-width) {
	.list {
		&_category {
			display: flex;
			justify-content: space-between;
			padding-top: 10px;
			padding-bottom: 10px;
			border-top: 1px var(--title) solid;
			border-bottom: 1px var(--title) solid;
		}
		&__item_category {
			margin-bottom: 0;
			border-bottom: 0;
		}
	}
}