/* List */

.list {
	list-style-type: none;
	&_main {
		padding: 20px 20px;
	}
	&__item_menu {
		display: flex;
		align-items: center;
		column-gap: 10px;
		margin-bottom: 20px;
		border-bottom: 1px solid var(--title);
	}
}

@media (min-width: $tablet-width) {
	.list {
		&_nav {
			display: flex;
			column-gap: 5%;
			border-bottom: 1px var(--title) solid;
		}
	}
}

@media (min-width: $portait-width) {
	.list {
		&_main {
			display: flex;
			justify-content: space-around;
			align-items: center;
			border-top: 1px solid var(--title);
			border-bottom: 1px solid var(--title);
		}
		&__item_menu {
			display: flex;
			align-items: center;
			column-gap: 10px;
			border-bottom: none;
			margin-bottom: 0;
		}
	}
}