/* Logo */
.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
}

@media (min-width: $tablet-width) {
	.logo {
		@include font-title(calc(var(--font-size)*4), 400);
	}
}