/* Menu */

.menu {
	&_main {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		height: 100vh;
	}
	&_opened {
		display: block;
		width: 320px;
		padding-top: 30px;
		background-color: var(--basic-white);
		z-index: 2;
	}
	&__close {
		width: 26px;
		height: 26px;
		margin-left: auto;
		margin-right: 5%;
	}
}

@media (min-width: $portait-width) {
	.menu {
		&_main {
			display: block;
			position: relative;
			height: auto;
			margin-bottom: 50px;
		}
		&__close {
			display: none;
		}
	}
}