/* Next */
.next {
	display: flex;
	justify-content: space-between;
	margin-bottom: $block-margin;
	&__previus,
	&__follow {
		position: relative;
	}
	&__previus::after {
		content: 'Предыдущий';
		display: block;
		position: absolute;
		top: 0;
		left: 30px;
	}
	&__follow::after {
		content: 'Следующий';
		display: block;
		position: absolute;
		top: 0;
		right: 30px;
	}
}