.next {
	display: flex;
	justify-content: space-between;
	&__previus,
	&__follow {
		position: relative;
	}
	&__previus::after {
		content: 'Предыдущий';
		display: block;
		position: absolute;
		top: 0;
		left: 30px;
		@include font(var(--12px-size), 24px, var(--title), 0.03em, 400);
	}
	&__follow::after {
		content: 'Следующий';
		display: block;
		position: absolute;
		top: 0;
		right: 30px;
		@include font(var(--12px-size), 24px, var(--title), 0.03em, 400);
	}
}