/* Title */
.title {
	color: var(--title);
	&_h1 {
		display: none;
	}
	&_h2 {
		font-size: 1.25rem;
		margin-bottom: 2em;
	}
	&_h3 {
		font-size: 1.125rem;
		margin-bottom: 1.1em;
	}
	&_new {
		font-size: 0.875rem;
	}
}