/* Today */

.today {
	display: none;
}

@media (min-width: $tablet-width) {
	.today {
		display: flex;
		column-gap: 2em;
		margin-bottom: 1em;
		&__read {
			width: 30%;
			display: flex;
			justify-content: space-between;
		}
	}
}

@media (min-width: $portait-width) {
	.today {
		margin-bottom: 3em;
	}
}