* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	object-fit: cover;
}
li {
	list-style-type: none;
}

/* Colors */
:root {
	--basic-black: #000000;
	--basic-white: #ffffff;
	--text: #121213;
	--title: #444444;
	--borders: #a2abbd;
	--footer: #282a2d;
}