/* Wrapper */

.wrapper {
	&__cards {
	}
	&_social {
		display: flex;
		justify-content: space-between;
	}
	&__card {
		margin-bottom: 3.5rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media (min-width: $tablet-width) {
	.wrapper {
		width: 80%;
		margin: 0 auto;
	}
}